<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="page(studentId)">

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


</head>
<body>
<div align="center">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Toggle Sidebar</span>
    </button>
</div>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>University management system</h3>
        </div>
        <a class="btn btn-dark btn-sm" href="studentForm.html" th:href="@{'/'}">Home</a>
        <div>
            <form  th:action="@{/app-logout}" method="POST">
                <a th:inline="text"> Logged User: [[${#httpServletRequest.remoteUser}]]</a>
                <input class="btn btn-primary btn-default" type="submit" value="Logout"/>
            </form>
        </div>
        <ul class="list-unstyled components">
            <p>Menu</p>
            <li class="active" th:if="${#httpServletRequest.isUserInRole('STUDENT')}" >
                <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student</a>
                <ul class="collapse list-unstyled" id="studentSubmenu">
                    <li>
                        <a th:href="@{'/students/'+${studentId}}">Student info</a>
                    </li>
                    <li>
                        <a th:href="@{'/prezente/student'}">Student prezente</a>
                    </li>

                </ul>
            </li>
            <li class="active" th:if="${#httpServletRequest.isUserInRole('TEACHER')}">
                <a href="#teacherSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Teacher</a>
                <ul class="collapse list-unstyled" id="teacherSubmenu">
                    <li>
                        <a th:href="@{/students}">Students info</a>
                    </li>

                    <li>
                        <a th:href="@{/materii}">Materii</a>
                    </li>

                    <li>
                        <a th:href="@{/materie/add}">Materie add</a>
                    </li>

                    <li>
                        <a th:href="@{/studentmaterii}">Materii asignate</a>
                    </li>

                    <li>
                        <a th:href="@{/studentmaterie/add}">Asignare Materii catre studenti</a>
                    </li>

                    <li>
                        <a th:href="@{/orar/all}">Generare Prezenta Orar</a>
                    </li>

                    <li>
                        <a th:href="@{/orar/prezente}">Situatie Prezente</a>
                    </li>

                </ul>
            </li>

            <li class="active" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
                <ul class="collapse list-unstyled" id="adminSubmenu">
                    <li>
                        <a th:href="@{/students}">Students info</a>
                    </li>
                    <li>
                        <a th:href="@{/student/add}">Student add</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>